__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/*.bin
wordsmith/internal/stubs/*
**/*.egg-info
.vscode/
.pytest_cache/
pyrightconfig.json

# stupid gitpod
.gitpod.yml