# This is only the requirements for the gRPC server
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cpu 
git+https://github.com/themysticsavages/torchMoji
youtube-comment-downloader
transformers
flair
grpcio
grpcio_tools
regex==2022.3.2
pydantic
-e .